<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="smtp">
                <field id="log" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Log Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="clean_email_period" translate="label comment" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clean Email Log Every</label>
                    <validate>validate-number validate-zero-or-greater validate-digits</validate>
                    <comment>Day(s). If empty or zero, the Email log will not be cleaned.</comment>
                    <depends>
                        <field id="log">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>

